<h1>Listing runs</h1>
<%= link_to 'waiting', :action => :index %> <%= link_to 'approved', {:action => :index, :approved => 't'}%> <%= link_to 'released', {:action => :index, :released => 't'}%>
<h2><%= @state %></h2>
<table>
  <tr>
  <% for column in Run.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for run in @runs %>
	<% p = run.number_of_points %>
	<%= render :partial => 'run', :locals => {:run => run} %> 
<% end %>
</table>


<%= link_to 'New run', :action => 'new' %>
